<mat-grid-list cols="1" rowHeight="500px">
  <mat-grid-tile>
    <div class="content">
      <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
        <mat-form-field appearance="fill" class="width-50">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="width-50 ml-2">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. email@exemplo.com" formControlName="email" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Inserir Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Data de Nascimento: </mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Cadastrar</button>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>
