<mat-sidenav-container class="sidenav-container">
  <mat-sidenav fixedInViewport="true" [opened]="true">
    <mat-toolbar>Home</mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon fontIcon="manage_accounts" />
          Usuários
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="#"> <mat-icon>add</mat-icon><span>Cadastrar</span> </a>
          <a mat-list-item routerLink="#"> <mat-icon>list</mat-icon><span>Visualizar</span> </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <a mat-list-item href="#">
        <mat-icon fontIcon="info" />
        Sobre
      </a>
      <a mat-list-item href="#">
        <mat-icon fontIcon="help" />
        Ajuda
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
